{% extends "base.html" %}

{% block head_includes %}

{% endblock %}

{% block jumbotron_content %}
  <div class="col-md-6 col-md-offset-3 input-group">
    <input id="search" class="form-control" type="text"/>
    <span class="input-group-btn">
      <button class="btn btn-search" id="search-btn" type="submit"><i class="glyphicon glyphicon-search"></i></button>
    </span>
  </div>
{% endblock %}

{% block main_content %}
<!-- TODO: templatize these, maybe? -->
<div ng-controller="ItemCtrl">
  <div ng-switch on="items.length">

    <div ng-switch-when="0"></div>

    <div class="col-md-8 col-md-offset-2 panel panel-default" ng-switch-when="1">
      {% verbatim %} 
      <span class="item-name panel-title">{{ items[0].name }}</span>
      <div class="panel-body">
        <img class="item-img" ng-src='{{ items[0].image }}'></img>
        <div class="item-info">
           <span class="item-description">{{ items[0].description }}</span>
        </div>
      </div>
      {% endverbatim %}
    </div>

    <div class="col-md-6 col-md-offset-3" ng-switch-default> 
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="item in items">
          {% verbatim %}
          <img class="item-img" ng-src='{{ item.image }}'></img>
          <div class="item-info">
            <span class="item-name">{{ item.name }}</span>
            <span class="item-description">{{ item.description }}</span>
          </div>
          {% endverbatim %}
        </li>
      </ul>
    </div>  
  </div>
</div>
{% endblock %}
