@font-face {
    font-family: marksman;
    src: url(/static/fonts/MARKSMAN.ttf) format(truetype);
}

.navbar {
    font-family: marksman, sans-serif;
}

.form-control {
    background-color: #ccc;
}
